html{
background-color: #E5E1C4;
}
.wrapper{
  max-width: 80rem;
  width: 80%;
  margin: 1em auto ;
}
nav{
  /* border: 1px solid; */
  width: 70%;
  /* display: block; */
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.responsive-nav{
  /* border: 1px solid red; */
  margin-top: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-toggle{
  /* border: 1px solid green; */
}
nav>ul{
  list-style: none;
  padding-left: 0;
  padding-right:  0;
}
.nav-toggle  img  {
  display: block;
  width: 80%;
  margin:0 auto;

}
.nav-toggle{
  display: none;
}
/* .nav-toggle a:hover {
  background-color:#ffff;
  z-index: 101;
} */
.responsive-nav>li>a{
  text-decoration:none;
  text-transform:uppercase;
  font-weight: bold;
  border-radius: 10px;
  /* border: 1px solid; */
  display: block;
  padding: .6em;
  color: #fff;
  background-color:#781205;
  transition: .5s;
}
.responsive-nav>li>a.download-button{
  background: #fff;
  border: none;
  box-shadow: 0 12px 10px -5px rgba(0,0,0,.4);
  color: #FF2D00;
}
.responsive-nav>li>a:hover{
  color: #f7e4ce;
  background-color:#FF2D00;
}

/*  reposive nav style*/
@media only screen and (max-width: 750px){
  .nav-toggle{
    display: block;
    z-index: 100;
    margin-top: 0;
  }
  .responsive-nav{
    display: none;
  }
  .responsive-nav.unfold{
    display:flex;
    flex-direction: column;
    width: 100%;
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    right: 0;
  }
  .responsive-nav.unfold>li{
    margin-top: 1em;
    margin-bottom: 1em;
  }

}
